/lib/mysql-connector-j-9.6.0/src
/lib/mysql-connector-j-9.6.0/build.xml
/lib/mysql-connector-j-9.6.0/CHANGES
/lib/mysql-connector-j-9.6.0/INFO_BIN
/lib/mysql-connector-j-9.6.0/INFO_SRC
/lib/mysql-connector-j-9.6.0/LICENSE
/lib/mysql-connector-j-9.6.0/README

docs/archive

# Build outputs
bin/
out/

# IDE configurations
.vscode/
.idea/